/*@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300,700,400);
/*@import url(http://weloveiconfonts.com/api/?family=entypo);*/
/*@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);*/
*{
	margin:0;
	padding:0;
}
html, body{
	width:100%;
  height: 100%;
}
body{/*font-family: 'Montserrat', sans-serif;*/}
/*Basics*/
  .Theme-Original{background:#dedede;}
	.Theme-Dark{background:#333;}
		.Site-Container{margin:0 auto;width:85%;max-width:1260px;/*border-left:1px solid #111;border-right:1px solid #111;*/}
		.Container-Large{margin:0 auto;width:85%;max-width:1260px;/*border-left:1px solid #111;border-right:1px solid #111;*/}
		.Container-Medium{margin:0 auto;width:85%;max-width:1000px;/*border-left:1px solid #111;border-right:1px solid #111;*/}
		.Container-Fitted{margin:0 auto;width:85%;max-width:790px;/*border-left:1px solid #111;border-right:1px solid #111;*/}
		.Container-Small{margin:0 auto;width:85%;max-width:680px;/*border-left:1px solid #111;border-right:1px solid #111;*/}
		.Container-Tiny{margin:0 auto;width:85%;max-width:480px;/*border-left:1px solid #111;border-right:1px solid #111;*/}
		.Container-Mini{margin:0 auto;width:85%;max-width:310px;/*border-left:1px solid #111;border-right:1px solid #111;*/}
		.Container-FullWidth{margin:0 auto;width:95%;}
		@media all and (max-width: 600px) {

		}
/*ghostb (Thats ghost button for you)*/
	.ghostb{padding:4px 11px;box-sizing:border-box;border:2px solid #4c74a8;border-radius:12px;display:inline-block;color:#fff;
		text-transform:;
		background:#4c74a8;
		font-family:'Lato-Bold';
		-webkit-transition: all 100ms ease-in-out;
		-moz-transition: all 100ms ease-in-out;
		-ms-transition: all 100ms ease-in-out;
		-o-transition: all 100ms ease-in-out;
		transition: all 100ms ease-in-out;
	}
		.ghostb:hover{background:#5282c1;
			border:2px solid #5282c1;
			color:#fff;
			cursor:pointer;
			-webkit-transition: all 100ms ease-in-out;
			-moz-transition: all 100ms ease-in-out;
			-ms-transition: all 100ms ease-in-out;
			-o-transition: all 100ms ease-in-out;
			transition: all 100ms ease-in-out;
		}
	.ghostb-grey{padding:4px 11px;box-sizing:border-box;border:2px solid #949aa2;border-radius:12px;display:inline-block;color:#fff;
		text-transform:;
		background:#949aa2;
		font-family:'Lato-Bold';
		-webkit-transition: all 100ms ease-in-out;
		-moz-transition: all 100ms ease-in-out;
		-ms-transition: all 100ms ease-in-out;
		-o-transition: all 100ms ease-in-out;
		transition: all 100ms ease-in-out;
	}
		.ghostb-grey:hover{background:#aeafb0;
			border:2px solid #aeafb0;
			color:#fff;
			cursor:pointer;
			-webkit-transition: all 100ms ease-in-out;
			-moz-transition: all 100ms ease-in-out;
			-ms-transition: all 100ms ease-in-out;
			-o-transition: all 100ms ease-in-out;
			transition: all 100ms ease-in-out;
		}
	.ghostb-blue{padding:4px 11px;
		box-sizing:border-box;
		border:2px solid #4773d6;
		border-radius:12px;
		display:inline-block;
		color:#fff;
		text-transform:;
		background:#4773d6;
		font-family:'Lato-Bold';
		-webkit-transition: all 100ms ease-in-out;
		-moz-transition: all 100ms ease-in-out;
		-ms-transition: all 100ms ease-in-out;
		-o-transition: all 100ms ease-in-out;
		transition: all 100ms ease-in-out;
	}
		.ghostb-blue:hover{background:#6e92e4;
			border:2px solid #6e92e4;
			color:#fff;
			cursor:pointer;
			-webkit-transition: all 100ms ease-in-out;
			-moz-transition: all 100ms ease-in-out;
			-ms-transition: all 100ms ease-in-out;
			-o-transition: all 100ms ease-in-out;
			transition: all 100ms ease-in-out;
		}
	.ghostb-cmd{
		padding:4px 11px;
		padding-right:16px;
		box-sizing:border-box;
		border:2px solid #242a38;
		border-radius:4px;
		display:inline-block;
		color:#959595;
		background:#242a38;
		text-align:left!important;
		font-family:'Lato-Bold';
		-webkit-transition: all 100ms ease-in-out;
		-moz-transition: all 100ms ease-in-out;
		-ms-transition: all 100ms ease-in-out;
		-o-transition: all 100ms ease-in-out;
		transition: all 100ms ease-in-out;
	}
	.ghostb-cmd span{color:#4fb165;text-decoration:underline;}
		.ghostb-cmd:hover{
			background:#242a38;
			border:2px solid #242a38;
			color:#959595;
			cursor:pointer;
			-webkit-transition: all 100ms ease-in-out;
			-moz-transition: all 100ms ease-in-out;
			-ms-transition: all 100ms ease-in-out;
			-o-transition: all 100ms ease-in-out;
			transition: all 100ms ease-in-out;
		}
/*Social icons*/
	section.social{font-family: 'Socicon';}
	section.social .twitter{color:#55acee;}
	section.social .facebook{color:#3b5998;}
	section.social .pinterest{color:#bd081c;}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
a{
	color:inherit;
	text-decoration:none;
}
i{
	font-style:italic;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body,html {
	width:100%;
    height: 100%;
	line-height: 1;
	font-size:100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* - MyResets - */
	h1{font-size:3em;position:relative;top:0;left:0;}
	h2{font-size:1.5em;position:relative;top:0;left:0;}
	p{font-size:1.1em;/*position:relative;top:0;left:0;*/}
/*Font Resize*/
		@media all and (max-width: 1000px) {
			body{font-size:100%;}
		}
		@media all and (max-width: 850px) {
			body{font-size:89%;}
		}
		@media all and (max-width: 750px) {
			body{font-size:87%;}
			.Container-Large{width:%;}
		}
		@media all and (max-width: 650px) {
			body{font-size:85%;}
		}
		@media all and (max-width: 550px) {
			body{font-size:84%;}
		}
		@media all and (max-width: 450px) {
			body{font-size:83%;}
			/*p{font-size:1.5em;}*/
		}
		@media all and (max-width: 300px) {
			body{font-size:82%;}
		}
